@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "ZEN SERIF";
  src: url("fonts/ZENSERIF-Regular.woff2") format("woff2"), url("fonts/ZENSERIF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GaviaNapjakblock";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NapjakBlock.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aritaburi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zen SERIF";
  src: url(./ZEN-SERIF-TTF-Regular.ttf) format(truetype);
}

p {
  font-family: "pretendard";
  font-size: 40px;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400, 1fr));
  gap: 32px;
  height: 100%;
}
.aboutme-box {
  /* display: flex; */
  grid-column: 1/3;
  grid-row: 2/3;
}
.experience-box {
  grid-column: 1/2;
  grid-row: 3/6;
}
.skill-box {
  grid-column: 2/3;
  grid-row: 3/6;
}
.license-box {
  grid-column: 3/4;
  grid-row: 3/4;
}
.contact-box {
  grid-column: 3/4;
  grid-row: 4/5;
}
.portfolio-box {
  grid-column: 3/4;
}
body {
  margin: 0 auto;
  min-width: 1280px;
  height: 100vh;
}
.green-box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(29, 218, 135, 0.3);
  border: 1px solid #0b7d54;
  border-radius: 50px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 100%;
}
.text-wrap {
  position: relative;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 40;
}
.title {
  font-family: "pretendard";
  font-weight: 800;
  font-size: 60px;
  background-color: rgba(29, 218, 135, 0.3);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #0b7d54;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
/*------------------------------------------------------------------------------------------------------------*/
.resume {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.resume > h1 {
  display: flex;
  position: absolute;
  top: 0;
  font-family: "pretendard";
  font-weight: 800;
  font-size: 600px;
  letter-spacing: 200px;
  text-align: center;
  color: rgba(11, 125, 84, 0.2);
  z-index: -1;
  white-space: nowrap;
  animation: slidein 10s linear infinite alternate;
  /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
}
.resume > h2 {
  display: flex;
  position: absolute;
  bottom: 0;
  font-family: "pretendard";
  font-weight: 800;
  font-size: 600px;
  letter-spacing: 200px;
  text-align: center;
  color: rgba(11, 125, 84, 0.05);
  z-index: -1;
  white-space: nowrap;
  animation: slidein 7s linear infinite alternate;
}
.resume > p {
  display: flex;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "GaviaNapjakblock";
  font-size: 200px;
  white-space: nowrap;
  letter-spacing: 30px;
  color: rgba(11, 125, 84, 0.1);
  animation: slidein 13s linear infinite alternate;
}
.resume > p:nth-child(2) {
  display: flex;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "Zen SERIF";
  font-size: 200px;
  white-space: nowrap;
  letter-spacing: 30px;
  color: #111111;
  animation: slidein 15s linear infinite alternate;
}
.resume > p:nth-child(3) {
  display: flex;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: "Aritaburi";
  font-size: 200px;
  white-space: nowrap;
  letter-spacing: 30px;
  color: rgba(11, 125, 84, 0.09);
  animation: slidein 11s linear infinite alternate;
}
.name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
  /* height: 400px; */
}
.info-text > h3 {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 10px;
}
.info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.education-box {
  grid-column: 2/3;
  /* height: 400px; */
}
.education-text {
  display: flex;
  flex-direction: column;
}
.education-text > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.photo-box {
  display: flex;
  grid-row: 1/3;
  align-items: center;
  justify-content: center;
}
.photo-box > img {
  border-radius: 50px;
}
.aboutme-box > p {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.aboutme-box > strong {
  font-size: 40px;
  color: rgba(196, 15, 18, 1);
  text-align: center;
}
.text-wrap > li {
  font-size: 40px;
  text-align: center;
}
.experience-box > strong {
  color: rgba(196, 15, 18, 1);
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.skill-wrap {
  display: flex;
}
.skill-item {
  font-size: 50px;
  margin-right: 50px;
}
.skill-per-box {
  padding: 2px;
  position: relative;
  background-color: rgba(136, 136, 136, 0.5);
  border-radius: 20px;
  min-width: 200px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.skill-per-ph {
  width: 70%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-ai {
  width: 70%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-figma {
  width: 30%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-html {
  width: 60%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-css {
  width: 40%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-js {
  width: 0%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.skill-per-react {
  width: 0%;
  height: 50px;
  background-color: #1dda87;
  border-radius: 20px;
}
.contact-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-text-wrap {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .resume {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .resume > h1 {
    display: hidden;
  }
  .resume > h2 {
    display: hidden;
  }
  .resume > p {
    display: hidden;
  }
  .resume > p {
    display: hidden;
  }
  .resume > p {
    display: hidden;
  }
  .text-wrap {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
  }
  .info-text > h3 {
    font-size: 20px;
  }
  .info-text {
    font-size: 20px;
  }
  .aboutme-box > p {
    font-size: 20px;
  }
  .aboutme-box > strong {
    font-size: 20px;
  }
  .text-wrap > li {
    font-size: 20px;
  }
  .experience-box > strong {
    font-size: 20px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(200, 1fr));
    gap: 16px;
    height: 100%;
  }
  .resume > h1 {
    display: flex;
    position: absolute;
    top: 0;
    font-family: "pretendard";
    font-weight: 800;
    font-size: 300px;
    letter-spacing: 200px;
    text-align: center;
    color: rgba(11, 125, 84, 0.2);
    z-index: -1;
    white-space: nowrap;
    animation: slidein 10s linear infinite alternate;
    /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  }
  .resume > h2 {
    display: flex;
    position: absolute;
    bottom: 0;
    font-family: "pretendard";
    font-weight: 800;
    font-size: 300px;
    letter-spacing: 200px;
    text-align: center;
    color: rgba(11, 125, 84, 0.05);
    z-index: -1;
    white-space: nowrap;
    animation: slidein 7s linear infinite alternate;
  }
  .resume > p {
    display: flex;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "GaviaNapjakblock";
    font-size: 100px;
    white-space: nowrap;
    letter-spacing: 30px;
    color: rgba(11, 125, 84, 0.1);
    animation: slidein 13s linear infinite alternate;
  }
  .resume > p:nth-child(2) {
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Zen SERIF";
    font-size: 100px;
    white-space: nowrap;
    letter-spacing: 30px;
    color: #111111;
    animation: slidein 15s linear infinite alternate;
  }
  .resume > p:nth-child(3) {
    display: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Aritaburi";
    font-size: 100px;
    white-space: nowrap;
    letter-spacing: 30px;
    color: rgba(11, 125, 84, 0.09);
    animation: slidein 11s linear infinite alternate;
  }
  .name-box {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .education-box {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .photo-box {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .aboutme-box {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .experience-box {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .skill-box {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .license-box {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .contact-box {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .portfolio-box {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(400, 1fr));
    gap: 16px;
    height: 100%;
  }
  .name-box {
    grid-row: 1/2;
  }
  .education-box {
    grid-row: 2/3;
  }
  .photo-box {
    grid-row: 1/2;
  }
  .aboutme-box {
    grid-row: 3/4;
  }
  .experience-box {
    grid-row: 5/6;
  }
  .skill-box {
    grid-row: 6/7;
  }
  .license-box {
    grid-row: 7/8;
  }
  .contact-box {
    grid-row: 8/9;
  }
  .portfolio-box {
    grid-row: 9/10;
  }
}
